@font-face {
    font-family: traffic;
    src: url(/assets/fonts/Traffic.ttf);
}
#title {
    text-align: center;
    font-family: traffic;
    font-weight: bolder;
    padding: 20px;
    font-size: 3.5vw;
}
.gallery {
    display: flex;
    justify-content: center;
    padding: 0 100px;
    padding-bottom: 50px;
}
.img-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.img-row img {
    height: 16vw;
    object-fit: contain;
}
