.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: #7c7c7c;
}
